#a1 {
    width: 500px;
    height: 30px;
    margin-bottom: 15px;
}
#a2 {
    width: 500px;
    height: 30px;
}
#a3 {
    width: 500px;
    height: 30px;
}
#a4 {
    width: 500px;
    height: 30px;
}
h1{
    margin-left: 113px;
}
#b1 {
    margin-left: 85%;
    margin-top: 15px;
}